html, body {
   height: 100%;
 }
@font-face {
  font-family: 'Lighthouse';
  src: url('../fonts/lighthouse-webfont.eot');
  src: url('../fonts/lighthouse-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lighthouse-webfont.woff') format('woff'), url('../fonts/lighthouse-webfont.ttf') format('truetype'), url('../fonts/lighthouse-webfont.svg#lighthouseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
footer, .push {
  height: 60px;
}

*, p, a, h1, h2, h3, h4, h5, h6, input, textarea, label {
  font-family: 'Raleway';
  color: $text-color;
  font-weight: 200;
}
body {
  background-color: #FFF;
  background-image: image-url('robot.png');
  background-position: left bottom;
  background-repeat: no-repeat;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  color: #222222;
}
a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
  &:visited {
    color: $link-color;
  }
}
a.button {
  color: #FFF !important;
  background-color: $background-color;
  border: 1px solid #FFF;
  padding: 14px 20px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;

  i {
    padding-left: 10px;
  }

  &:hover {
    i {
      color: $background-color;
    }
    color: $background-color !important;
    background-color: #FFF;
    border: 1px solid $background-color;
  }
}
.intro {
  padding-top: 70px;
  padding-bottom: 70px;
  @include background(image-url('bg.jpg'));
  border-bottom:  5px solid $background-color;
  @include clearfix;

  .container {
    max-width: 840px
  }
  h2 {
    font-size: 30px;
    font-weight: 200;
    padding-top: 10px;
  }
  h1 {
    font-size: 78px;
    font-weight: 400;
    font-family: 'Lighthouse';
    padding-bottom: 0;
    margin-bottom: 0px;
    line-height: 90%;
  }
  p {
    padding-right: 20px;
    max-width: 510px;
  }
}
#botface {
  float: left;
  height: 202px;
  margin-top: -33px;
  margin-right: 30px;
}
#content {
  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    color: #222;
  }

  p {
    margin-top: 20px;
    font-size: 18px;
    color: #222;
    clear: left;
    padding-bottom: 10px;
  }


  form {
    width: 606px;
    margin: 0 auto;
    text-align: left;
    display: block;
    clear: both;
    @include clearfix;

    label {
      color: #222;
      font-size: 20px;
      margin-bottom: 20px;
      display: block;
    }

    input#urlField {
      padding: 20px;
      font-size: 16px;
      width: 500px;
      color: #222;
      float:left;
      display: block;
      margin-bottom: 20px;
      text-align: center;
      border: 3px solid $link-hover-color;
    }
    #loadingMessage {
      display: none;
    }
    p.error {
      color: #c60024;
      font-size: 14px;
    }
    a#goButton {
      background-color: $link-hover-color;
      color: $text-color;
      font-size: 21px;
      padding: 22px;
      margin-top: 2px;
      float: left;
      display: block;
      text-decoration: none;

      .spinner {
        display: none;
      }
    }
  }
}
#result {
  text-align: center;
  display: none;

  #backButton {
    margin-top: 30px;
  }

  h2 {
    color: #222;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 20px;
  }
}

footer {
  color: $text-color;
  background-color: $background-color;
  font-size: 22px;

  p {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: $text-color;
  }

  a {
    color: $text-color;

    &:visited {
      color: $text-color;
    }

    &:hover {
      color: $link-hover-color;
    }
  }
}

@media (max-width: 650px) {
  #botface {
    display: none;
  }
  footer {
    font-size: 16px;
  }
  .container {
    padding-left: 20px;
  }
  #content form
  {
    width: 404px;

    input#urlField {
      width: 300px;
    }
  }
  .intro {
    padding-top: 20px;
    padding-bottom: 20px;

    h2 {
      font-size: 20px;
    }
    h1 {
      font-size: 58px;
    }
  }
}
@media (max-width: 400px) {
  .container {
    padding-left: 10px;
  }
  #content form
  {
    width: 300px;

    input#urlField {
      width: 180px;
    }
  }
}