
    <div class="push"></div>
</div>
    <footer id="footer" class="container-fluid">
        <p>A thing by <a href="http://uccbm.com">UCCBM</a>. / <a href="mailto:whatsup@uccbm.com">Holla at us</a>, we love feedback.</p>
    </footer>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</body>
        </html>