<!DOCTYPE html>
<html language="en">
<head>

    <meta charset="utf-8">
    <meta name=”description” content=”Turn Spotify playlists into Youtube Playlists”/>
    <meta name=”robots” content=”index, follow” />
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" type="text/css" href="/layout/stylesheets/screen.css" />

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- icon in the URL-bar -->
    <link rel="shortcut icon" href="/favicon.png">

    <!-- icon used when saved as a bookmark on iPhone/iPad/Android/... -->
    <link rel="apple-touch-icon" href="apple-touch-icon-57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144.png" />

    <!--  icon for facebook -->
    <link rel="image_src" href="/image_src.png" />
    <meta property="og:image" content="/image_src.png"/>
    <meta property="og:site_name" content="Spotibot"/>
    <meta property="og:title" content="Spotibot"/>
    <meta property="og:url" content="http://spotibot.uccbm.com/"/>
    <meta property="og:description " content="Turn Spotify playlists into Youtube Playlists"/>

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrapper">

