<header class="intro">
    <div class="container">
        <img id="botface" src="/layout/images/chart.png" />
        <div style="float: left">
            <h1>SpotiBot</h1>
            <p>Do you like Spotify Playlists but hate the ads and are too cheap to actually get a subscription?</p>
            <h2>Have we got the thing for you!</h2>
        </div>
    </div>
</header>
        <section id="content">
            <div class="container">
                <form action="" method="post">
                    <label for="urlField">The URL of the playlist</label>
                    <input type="text" id="urlField" name="uri" value="" {%if uri %}data-url="{{ uri }}"{% endif %} placeholder="http://open.spotify.com/user/116632718/playlist/5DdMlZn9qBrFV1lR28123"/>
                    <a href="#" id="goButton"><i class="icon-chevron-right"> </i><img src="/layout/images/spinner.gif" class="spinner" /></a>

                    <p id="loadingMessage">Loading...</p>
                </form>
                <div id="result">
                    <h2 id="playlistTitle"></h2>
                    <div id="iframeContainer">

                    </div>
                    <a href="#" class="button" id="backButton">Try another one? <i class="icon-chevron-sign-right"></i></a>
                </div>
            </div>
        </section>